# Files ignored by Git
# ====================

# - Built files,
/index.js
/array.js
/object.js
/dist.es6/
/test.modules/

# - All files and directories starting with "#",
\#*

# - Automatically installed dependencies,
/node_modules/

# - Test coverage reports,
/coverage/

# - Editor files.
*.sublime-project
*.sublime-workspace
