# Files ignored by Git
# ====================

# - Built files,
/dist/
/dist.es5/
/test.modules/

# - All files and directories starting with "#",
\#*

# - Automatically installed dependencies,
/node_modules/

# - Test coverage reports,
/coverage/

# - Editor files.
*.sublime-project
*.sublime-workspace
